<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
        hr {
            border: 0;
            border-bottom: 1px dashed #ccc;
            margin: 30px 0;
        }
    </style>
</head>
<body>
    <h1><%= htmlWebpackPlugin.options.title %></h1>
    <div id="app"> </div>
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.24.0/axios.js"></script> -->

</body>
</html>